.cabinate {
  &-container {
    margin-top: 50px;
    margin-bottom: 1rem;
  }
}

.cabinate-name {
  position: relative;
  color: #183149;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    border-bottom: 1px solid $nile;
    width: 30px;
    height: 1px;
  }
}

.member-list-container {
  padding: 30px 0;
  background-color: #f5f5f5;
}

@media screen and (min-width: 375px) {
  .cabinate-name {
    font-size: 1.4rem;

    &::before {
      width: 50px;
    }
  }
}

@media screen and (min-width: 640px) {
  .cabinate-name {
    font-size: 1.8rem;

    &::before {
      width: 70px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .cabinate-name {
    font-size: 2rem;

    &::before {
      width: 70px;
    }
  }
}
